@import '../../assets/styles/variables';

.Card {
  width: 56rem;
  height: 28rem;
  padding: 2rem 3rem;
  border-radius: 8px;
  border: solid 1px rgba(255, 255, 255, 0.08);
  color: $white-40;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:last-child {
    margin-right: 0;
  }
}

.Card__title {
  font-size: 3rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.Card__title__link {
  width: 3rem;
  opacity: 0.5;
  transition: 500ms;

  &:hover {
    opacity: 1;
    transform: translateX(0.5rem);
  }

  img {
    width: 100%;
  }
}

.Card__tabs {
  margin-bottom: 2rem;
}

.Card__tabs__item {
  margin-right: 2rem;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $macaroni-and-cheese;
  }
}

.Card--small {
  height: 16rem;
}

.Card--large {
  width: 115rem;
  height: 78rem;

  .Card__title {
    margin-bottom: 2rem;
  }
}
