$dark: #252c32;
$macaroni-and-cheese: #eec643;
$dark-60: rgba(37, 44, 50, 0.6);
$success: #3ec25f;
$white-40: rgba(255, 255, 255, 0.4);
$dark-20: rgba(37, 44, 50, 0.2);
$dark-40: rgba(37, 44, 50, 0.4);
$dark-10: rgba(37, 44, 50, 0.1);
$dark-sky-blue: #3a9bdf;
$danger: #df443a;
