@import 'normalize';
@import './reset.local';
@import 'fonts';
@import 'variables';
@import './page.scss';
@import './text.scss';

html,
body {
  background: $dark;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
